<div class="container">
    <!--1st Row-->
        <div class="row">
            <div class="col-md-12">
                <app-header></app-header>
            </div>
        </div>
    
        <!--2nd row Content-->
        <div class="row">
            <div class="col-md-12">
               <router-outlet></router-outlet>
            </div>
        </div>
    
        <!--3rd row-->
        <div class="row">
            <div class="col-md-12">
               <app-footer></app-footer>
            </div>
        </div>
    
    </div>